html {
    background-color: white;
    color: #000000;
    text-decoration: none;
    padding-top: 18px; padding-bottom: 18px;
    padding-left: 50%; padding-right: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}